*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bree Serif', serif;
}

.cabeçalho {
    background-color: #76FFDE;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.cabeçalho-imagem{
    margin: 0;
    width: 20%;
}
.cabeçalho-lista-item{
    display:inline-block;
    margin: 0 16px;
    font-size: 30px;
}
.escola{
    background-image:linear-gradient(#76ffde, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-sessão-sobre a{
    width: 0%;
    margin: 0px;

}
.escola-div-conteudo{
    width: 35% ;
}
.estudante-imagem-monica{
    width: 180px;
}

.estudante-imagem-cebolinha{
    width: 110px;
}

.estudante-imagem-magali{
    width: 120px;
}